<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.project">
    <insert id="write" parameterType="com.example.demo.domain.ProjectVO">
        insert into tbl_project 
        (prj_no,
         prj_title, 
         start_d8, 
         end_d8, 
         prj_writer, 
         prj_mod_writer, 
         prj_write_d8, 
         prj_mod_d8, 
         prj_content, 
         prj_remark, 
         cond, 
         rmv_yn)
        values (
            tbl_project_seq.nextval,
            #{prj_title},
            #{start_d8},
            #{end_d8},
            #{prj_writer},
            #{prj_mod_writer},
            sysdate,
            sysdate,
            #{prj_content},
            #{prj_remark},
            #{cond},
            'N')
        <selectKey keyProperty="prj_no" resultType="Integer" order="AFTER"> SELECT tbl_project_seq.currval FROM dual </selectKey>
    </insert>
    <select id="getProjectList" parameterType="java.lang.String" resultType="com.example.demo.domain.ProjectVO">
        SELECT tp.*, tpi.authority, tpi.prj_in_no
        FROM TBL_PROJECT tp
        JOIN TBL_PROJECT_IN tpi
        ON tp.PRJ_NO = tpi.PRJ_NO
        where cond IN ('예정', '진행중')
        AND rmv_YN in ('N')
        AND tpi.EMAIL in (#{email})
    </select>
    <select id="getDoneProjectList" parameterType="java.lang.String" resultType="com.example.demo.domain.ProjectVO">
        SELECT tp.*, tpi.authority
        FROM TBL_PROJECT tp
        JOIN TBL_PROJECT_IN tpi
        ON tp.PRJ_NO = tpi.PRJ_NO
        WHERE cond IN ('완료')
        AND rmv_YN in ('N')
        AND tpi.EMAIL in (#{email})
    </select>
    <update id="deleteProject" parameterType="Integer">
        update tbl_project set rmv_YN = 'Y' where prj_no = #{prj_no}
    </update>
    <update id="update" parameterType="com.example.demo.domain.ProjectVO">
        update tbl_project set
         prj_title = #{prj_title},
         start_d8 = #{start_d8},
         end_d8 = #{end_d8},
         prj_mod_writer = #{prj_mod_writer},
         prj_mod_d8 = sysdate,
         prj_content = #{prj_content},
         prj_remark = #{prj_remark},
         cond = #{cond}
        where prj_no = #{prj_no}
    </update>
</mapper>