<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.projectIn">
    <insert id="leaderin" parameterType="com.example.demo.domain.ProjectInVO">
        insert into tbl_project_in 
        (prj_in_no,
        email,
        auth_id,
        prj_in_d8,
        prj_out_d8,
        prj_no)
        values (
            tbl_project_in_seq.nextval,
            #{leader_email},
            1,
            #{lead_prj_in_d8},
            #{lead_prj_out_d8},
            #{prj_no})
    </insert>
    <insert id="followerin" parameterType="com.example.demo.domain.ProjectInVO">
        insert into tbl_project_in 
        (prj_in_no,
        email,
        auth_id,
        prj_in_d8,
        prj_out_d8,
        prj_no)
        values (
            tbl_project_in_seq.nextval,
            #{follower_email},
            0,
            #{follow_prj_in_d8},
            #{follow_prj_out_d8},
            #{prj_no})
    </insert>
    <insert id="addLeader" parameterType="com.example.demo.domain.ProjectInVO">
        insert into tbl_project_in values (tbl_project_in_seq.nextval, #{email}, 'ROLE_ADMIN', #{prj_in_d8}, #{prj_out_d8}, #{prj_no})
    </insert>
    <select id="getLeaderList" resultType="com.example.demo.domain.ProjectInVO">
        select * from tbl_project_in where authority = 'ROLE_ADMIN'
    </select>
    <select id="getLeaderInfo" parameterType="java.lang.Integer" resultType="com.example.demo.domain.ProjectInVO">
        select * from tbl_project_in where authority = 'ROLE_ADMIN' and prj_no = #{prj_no}
    </select>
    <insert id="addFollower" parameterType="java.util.List">
        <foreach collection="list" item="pINvo" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" separator=" ">
            INTO tbl_project_in values (
                tbl_project_in_seq.nextval,
                #{pINvo.email},
                'ROLE_USER',
                #{pINvo.prj_in_d8},
                #{pINvo.prj_out_d8},
                #{pINvo.prj_no}
            )
        </foreach>
    </insert>
    <select id="getFollowerInfo" parameterType="java.lang.Integer" resultType="com.example.demo.domain.ProjectInVO">
        select * from tbl_project_in where authority = 'ROLE_USER' and prj_no = #{prj_no}
    </select>
    <select id="getUserProjectInfo" parameterType="java.lang.String" resultType="com.example.demo.domain.ProjectInVO">
        select authority, prj_no from tbl_project_in where email = #{email}
    </select>
    <update id="updateLeader" parameterType="com.example.demo.domain.ProjectInVO">
        update tbl_project_in set
         email = #{email},
         authority = 'ROLE_ADMIN',
         prj_in_d8 = #{prj_in_d8},
         prj_out_d8 = #{prj_out_d8}
        where prj_no = #{prj_no}
    </update>
    <update id="updateFollower" parameterType="java.util.List">
        <foreach collection="list" item="pINvo" index="index" separator=";" open="DECLARE BEGIN" close="; END;">
            update tbl_project_in
            set email = ${email},
            authority = 'ROLE_USER',
            prj_in_d8 = #{prj_in_d8},
            prj_out_d8 = #{prj_out_d8}
            where prj_no = #{prj_no}
        </foreach>
    </update>
</mapper>