<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ReportMapper">
	<insert id="write" parameterType="com.example.demo.domain.ReportVO">
		insert into tbl_report values (tbl_report_seq.nextval, 7, #{rpt_title}, #{rpt_content}, #{rpt_remark}, 'N', sysdate, 6, sysdate, 6)
	</insert>
	<select id="list" resultType="com.example.demo.domain.ReportVO">
		select rpt_no, prj_no, rpt_write_d8, rpt_writer from tbl_report
	</select>
	<select id="detail" parameterType="java.lang.Integer" resultType="com.example.demo.domain.ReportVO">
		select * from tbl_report where rpt_no = #{rpt_no}
	</select>
</mapper>