<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.report">
	<insert id="write" parameterType="com.example.demo.domain.ReportVO">
		insert into tbl_report values (tbl_report_seq.nextval, #{prj_no}, 'N', sysdate, 28, sysdate, 28)
		<selectKey keyProperty="rpt_no" resultType="Integer" order="AFTER"> SELECT tbl_report_seq.currval FROM dual </selectKey>
	</insert>
	<select id="list" resultType="com.example.demo.domain.ReportVO">
		select * from tbl_report
	</select>
	<select id="getReportDetailList" resultType="com.example.demo.domain.ReportDetailVO">
		select * from tbl_report_detail
	</select>
	<insert id="writeDetail" parameterType="java.util.List">
		<foreach collection="list" item="rdvo" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" separator=" ">
            INTO tbl_report_detail values (
                tbl_report_detail_seq.nextval,
                #{rdvo.rpt_start_time},
                #{rdvo.rpt_end_time},
                #{rdvo.rpt_content},
                #{rdvo.rpt_no}
            )
        </foreach>
	</insert>
	<select id="getSelectedReport" parameterType="java.util.Date" resultType="com.example.demo.domain.ReportDetailVO">
		SELECT trd.*
		FROM TBL_REPORT tr
		JOIN TBL_REPORT_DETAIL trd
		ON tr.RPT_NO = trd.RPT_NO AND RPT_WRITE_D8 >= #{rpt_write_d8}
		<![CDATA[AND rpt_write_d8 < #{rpt_write_d8}+1]]>
	</select>
</mapper>