<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.report">
	<insert id="write" parameterType="com.example.demo.domain.ReportVO">
		insert into tbl_report values (tbl_report_seq.nextval, #{prj_no}, 'N', sysdate, #{rpt_writer}, sysdate, #{rpt_mod_writer})
		<selectKey keyProperty="rpt_no" resultType="Integer" order="AFTER"> SELECT tbl_report_seq.currval FROM dual </selectKey>
	</insert>
	<select id="list" resultType="com.example.demo.domain.ReportVO">
		select * from tbl_report
	</select>
	<select id="getAll" resultType="com.example.demo.domain.ReportDetailVO">
		SELECT trd.*, tr.prj_no, tr.RPT_WRITER, tpi.EMAIL, tm.name, tpi.AUTHORITY, tp.prj_title
		FROM TBL_REPORT_DETAIL trd
		JOIN TBL_REPORT tr
		ON tr.RPT_NO = trd.RPT_NO
		JOIN TBL_PROJECT_IN tpi
		ON tpi.PRJ_IN_NO = tr.RPT_WRITER
		JOIN TBL_MEMBER tm
		ON tpi.email = tm.EMAIL
		JOIN TBL_PROJECT tp
		ON tp.prj_no = tpi.prj_no
	</select>
	<select id="getReportAll" resultType="com.example.demo.domain.ReportVO">
		SELECT tr.*, tp.prj_title, tm.name
		FROM TBL_REPORT tr
		JOIN TBL_PROJECT tp
		ON tp.PRJ_NO = tr.PRJ_NO
		JOIN TBL_PROJECT_IN tpi
		ON tr.RPT_WRITER = tpi.PRJ_IN_NO
		JOIN TBL_MEMBER tm
		ON tpi.EMAIL = tm.email
	</select>
	<select id="getReportADMIN" resultType="com.example.demo.domain.ReportVO">
		SELECT tr.*, tp.prj_title, tm.name
		FROM TBL_REPORT tr
		JOIN TBL_PROJECT tp
		ON tp.PRJ_NO = tr.PRJ_NO
		JOIN TBL_PROJECT_IN tpi
		ON tr.RPT_WRITER = tpi.PRJ_IN_NO
		JOIN TBL_MEMBER tm
		ON tpi.EMAIL = tm.email
		WHERE tr.prj_no = #{prj_no}
	</select>
	<select id="getReportUSER" resultType="com.example.demo.domain.ReportVO">
		SELECT tr.*, tp.prj_title, tm.name
		FROM TBL_REPORT tr
		JOIN TBL_PROJECT tp
		ON tp.PRJ_NO = tr.PRJ_NO
		JOIN TBL_PROJECT_IN tpi
		ON tr.RPT_WRITER = tpi.PRJ_IN_NO
		JOIN TBL_MEMBER tm
		ON tpi.EMAIL = tm.email
		WHERE rpt_writer = #{prj_in_no}
	</select>
	<select id="getReport" resultType="com.example.demo.domain.ReportDetailVO">
		SELECT trd.*, tr.prj_no, tr.RPT_WRITER, tpi.EMAIL, tpi.AUTHORITY
		FROM TBL_REPORT_DETAIL trd
		JOIN TBL_REPORT tr
		ON tr.RPT_NO = trd.RPT_NO
		JOIN TBL_PROJECT_IN tpi
		ON tpi.PRJ_IN_NO = tr.RPT_WRITER
		WHERE tpi.email = #{email}
	</select>
	<select id="getReportDetailList_ROOT" resultType="com.example.demo.domain.ReportDetailVO">
		SELECT trd.*, tr.prj_no, tr.RPT_WRITER, tpi.authority, tpi.EMAIL, tm.NAME
		FROM TBL_REPORT tr
		JOIN TBL_REPORT_DETAIL trd
		ON trd.RPT_NO = tr.RPT_NO
		JOIN TBL_PROJECT_IN tpi
		ON tpi.PRJ_IN_NO = tr.RPT_WRITER
		JOIN TBL_MEMBER tm
		ON tpi.EMAIL = tm.EMAIL
	</select>
	<select id="getADMIN" parameterType="Integer" resultType="com.example.demo.domain.ReportDetailVO">
		SELECT trd.*, tr.prj_no, tr.RPT_WRITER, tpi.authority, tpi.EMAIL, tm.NAME, tp.prj_title
		FROM TBL_REPORT tr
		JOIN TBL_REPORT_DETAIL trd
		ON trd.RPT_NO = tr.RPT_NO
		JOIN TBL_PROJECT_IN tpi
		ON tpi.PRJ_IN_NO = tr.RPT_WRITER
		JOIN TBL_MEMBER tm
		ON tpi.EMAIL = tm.EMAIL
		JOIN TBL_PROJECT tp
		ON tp.prj_no = tpi.prj_no
		WHERE tr.prj_no = #{prj_no}
	</select>
	<select id="getUSER" parameterType="Integer" resultType="com.example.demo.domain.ReportDetailVO">
		SELECT trd.*, tr.prj_no, tr.RPT_WRITER, tpi.authority, tpi.EMAIL, tm.NAME, tp.prj_title
		FROM TBL_REPORT tr
		JOIN TBL_REPORT_DETAIL trd
		ON trd.RPT_NO = tr.RPT_NO
		JOIN TBL_PROJECT_IN tpi
		ON tpi.PRJ_IN_NO = tr.RPT_WRITER
		JOIN TBL_MEMBER tm
		ON tpi.EMAIL = tm.EMAIL
		JOIN TBL_PROJECT tp
		ON tp.prj_no = tpi.prj_no
		WHERE rpt_writer = #{prj_in_no}
	</select>
	<insert id="writeDetail" parameterType="java.util.List">
		<foreach collection="list" item="rdvo" open="INSERT ALL" close="SELECT * FROM SYS.DUAL" separator=" ">
            INTO tbl_report_detail values (
                tbl_report_detail_seq.nextval,
                #{rdvo.rpt_start_time},
                #{rdvo.rpt_end_time},
                #{rdvo.rpt_content},
                #{rdvo.rpt_no}
            )
        </foreach>
	</insert>
	<select id="getSelectedReport" parameterType="java.util.Date" resultType="com.example.demo.domain.ReportDetailVO">
		SELECT trd.*
		FROM TBL_REPORT tr
		JOIN TBL_REPORT_DETAIL trd
		ON tr.RPT_NO = trd.RPT_NO AND RPT_WRITE_D8 >= #{rpt_write_d8}
		<![CDATA[AND rpt_write_d8 < #{rpt_write_d8}+1]]>
	</select>
	<update id="updateReport" parameterType="com.example.demo.domain.ReportVO">
		update tbl_report set
		 rpt_mod_d8 = sysdate,
		 rpt_mod_writer = #{rpt_mod_writer}
		where rpt_no = #{rpt_no}
	</update>
	<delete id="deleteDetail" parameterType="Integer">
		delete from tbl_report_detail where rpt_no = #{rpt_no}
	</delete>
</mapper>