<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.user">
	<insert id="join" parameterType="com.example.demo.domain.UserVO">
		insert into tbl_member (email, name, password, rmv_YN) values (#{email}, #{name}, #{password}, 'N')
	</insert>
	<select id="getUserfindByEmail" resultType="com.example.demo.domain.UserVO">
		select m.*, a.ROLES_AUTHORITY authority from tbl_member m
		JOIN AUTHORITIES a
		ON m.EMAIL = a.MEMBER_EMAIL
		where email = #{email}
	</select>
	<select id="getUserList" resultType="com.example.demo.domain.UserVO">
		select email, name from tbl_member
	</select>
	<select id="getUserfindByUser" resultType="com.example.demo.domain.UserVO">
		select m.*, a.ROLES_AUTHORITY authority from tbl_member m
		JOIN AUTHORITIES a
		ON m.EMAIL = a.MEMBER_EMAIL
	</select>
</mapper>